html {
  background: #222;
}
body {
  font-size: 1.6rem;
  font-weight: 300;
  z-index: -2;
}
h1,
h2,
h3 {
  font-weight: normal;
  margin-bottom: 2rem;
}
p,
p:last-child {
  margin-bottom: 2rem;
}
.carousel-control {
  font-size: 3rem;
}
.navbar-brand {
  font-weight: normal;
  color: #333333 !important;
}
.header {
  position: relative;
  text-align: center;
}
.header h1,
.header h2 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.header .breadcrumb {
  background: transparent;
  font-size: small;
  margin: -2rem 0 0 0;
  padding: 0;
  height: 2rem;
  opacity: 0.5;
}
.header .jumbotron {
  margin: 0;
  padding: 8rem 0;
  background: no-repeat center center;
  background-size: cover;
}
body.front .header .jumbotron {
  padding: 12rem 0;
}
.header-top {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header .header-top.jumbotron {
  background: transparent;
  padding-bottom: 0;
}
.header-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.header-bottom .nav-tabs {
  margin-bottom: 0;
}
.main {
  padding: 4rem 0 2rem 0;
}
.main h1,
.main h2,
.main h3 {
  margin-top: -7rem;
  padding-top: 8rem;
  position: relative;
  z-index: -1;
}
.main-col {
  margin-bottom: 2rem;
}
.bottom {
  background: #eeeeee;
  padding: 4rem 0;
}
.region-share .at-share-btn {
  float: left;
  width: 20%;
  max-width: none !important;
  max-height: 5rem !important;
  margin: 0 !important;
  padding: 0.9rem;
  text-align: center;
  cursor: pointer;
}
.region-share .at_flat_counter {
  float: left;
  margin: 0.9rem 0 0.9rem -6rem !important;
}
.footer {
  background: #222;
  color: #777777;
  margin-top: 0;
  padding: 2rem 0;
  border: none;
  text-align: center;
}
.footer a {
  color: #9d9d9d;
  text-decoration: none;
}
.footer a:hover {
  color: white;
}
.footer hr {
  border-color: #333333;
}
.footer .block {
  padding: 2rem 0;
}
.footer .block + .block {
  border-top: 1px solid #333333;
}
#block-menu-menu-footer-sitemap {
  text-align: left;
}
#block-menu-menu-footer-sitemap li {
  margin-top: 0.5rem;
}
#block-menu-menu-footer-sitemap li.root {
  margin-bottom: 1.5rem;
}
#block-menu-menu-footer-sitemap li.root > a {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}
#block-menu-menu-footer-sitemap li.root > ul {
  margin-top: 1.5rem;
}
