#main {
  padding: 30px 0;
}
#footer {
  background-color: whitesmoke;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer-links a {
  margin-left: 15px;
}
#header {
  background-color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
}
.nav-tabs {
  border-bottom: 0;
  margin-bottom: 0;
}
h1 {
  margin: 0 0 20px 0;
}
.node > h2,
.block > h2 {
  margin-top: 0;
}
#sidebar .affix {
  top: 20px;
}
#sidebar .affix-bottom {
  position: absolute;
  top: auto;
}
#navbar .navbar-inner {
  padding-bottom: 5px;
  padding-top: 5px;
}
#navbar .nav > li > a {
  margin: -5px 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
