@block: 8rem;
@cell: @block/10;

@gray-base: #000;
@gray-light: lighten(@gray-base, 46.7%); // #777
@gray-lighter: lighten(@gray-base, 93.5%); // #eee
@footer-sitemap-hover-bg: rgba(255, 255, 255, 0.05);

body.navbar-is-fixed-top {
  &, &.admin-menu {
    padding-top: 0 !important;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

.navbar-brand {
  margin-right: @block/2;
}

.navbar-nav {
  float: none;
  > li {
    display: table-cell;
    float: none;
    width: 1%;
    > a {
      text-align: center;
    }
    &:hover {
      > ul {
        display: block;
      }
    }
  }
}

.header {
  background: @gray-lighter;
}

.header-top {
  margin-top: @block;
  h1 {
    font-size: 6*@cell;
    font-weight: 300;
    padding: @cell 0;
  }
}

.header-bottom {
  margin-top: @block/4;
  .nav-tabs {
    margin-bottom: 0;
  }
}

.main {
  padding: @block/4 0;
}

.bottom {
  background: @gray-lighter;
  padding: @block/2 0;
}

.footer {
  background: #222;
  color: lighten(@gray-light);
  margin-top: 0;
}

.footer a {
  color: lighten(@gray-light, 15%);
  text-decoration: none;
}

.footer-sitemap {
  margin-bottom: @block/2;
  li {
    > a {
      margin: 0 -2*@cell;
      padding-top: @cell/2;
      padding-bottom: @cell/2;
      &:hover {
        background: @footer-sitemap-hover-bg;
        color: white;
      }
    }
  }
  > li {
    > a {
      color: white;
      display: block;
      margin-bottom: @cell;
      padding: @cell 2*@cell;
      text-transform: uppercase;
      .caret {
        display: none;
      }
    }
  }
}

