/* Bootstrap extended */

.navbar,
.navbar * {
  z-index: 400;
}
.navbar-medium .navbar-inner {
  padding-bottom: 5px;
  padding-top: 5px;
}
.navbar-medium .nav > li > a {
  margin: -5px 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
.navbar .navbar-search-elastic .search-query {
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  width: 80px;
}
.navbar .navbar-search-elastic .search-query:focus {
  width: 160px;
}
.navbar .brand {
  font-weight: bold;
}
.navbar .brand img {
  float: left;
  height: 30px;
  margin: -5px 5px -5px 0;
}
.nav-tabs.nav-stacked > .active > a {
  background-color: #08c;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-tabs {
  border-bottom: 0;
  margin-bottom: 0;
}
.carousel-control-modern {
  background-color: transparent;
  border: 0;
  font-size: 100px;
  line-height: 1 !important;
  top: 50%;
  height: 100px;
  margin-top: -50px;
}
.align-left, .text-left {
  text-align: left;
}
.align-right, .text-right {
  text-align: right;
}
.align-center, .text-center {
  text-align: center;
}
.mkt * {
  line-height: 1.4;
}
.mkt ul, .mkt ol {
  text-align: left;
}
@media (max-width: 767px) {
  .container-wrapper {
    margin: 0 -20px;
    padding: 0 20px;
  }
}


/* Layout */

html, body {
  background: whitesmoke;
}
h1 {
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}
h1 small {
  font-weight: 100;
  letter-spacing: 1px;
}
.zone {
  border-bottom: 1px solid #e5e5e5;
}
.zone-annex {
  border-bottom: 2px dashed #e5e5e5;
}
.zone-featured .carousel {
  margin: 0;
}
.zone-featured .carousel-control {
  color: #333;
}
@media (max-width: 1199px) {
  .zone-featured .carousel-control {
    display: none;
  }
}
.zone-featured .zone-inner {
  font-weight: 200;
  padding: 2em 0;
}
.zone-featured .block-imageblock {
  background-size: cover;
}
.zone-featured h1 {
  margin: 0;
}
.zone-header .zone-inner {
  padding-top: 1.5em;
}
.zone-header h1 {
  font-size: 400%;
  margin: .1em 0 .4em;
}
.zone-highlighted {
  background: white;
}
.zone-highlighted .zone-inner {
  padding: 1.5em 0;
  color: #0088cc;
}
.zone-main {
  background: white;
}
.zone-main .zone-inner {
  padding: 2em 0;
}
.zone-main .block {
  margin-bottom: 2em;
}
.zone-main .block:last-child {
  margin-bottom: 0;
}
.sidebar-first {
  padding-right: 1em;
}
.sidebar-second {
  padding-left: 1em;
}
.sidebar input.form-text {
  width: 70%;
}
.zone-bottom .zone-inner {
  padding: 2em 0;
}
.zone-footer {
  border-bottom: 0;
}
.zone-footer .zone-inner {
  padding: 2em 0;
}
.footer-links {
  margin-bottom: .5em;
}
.footer-links a {
  margin-right: 1.5em;
}
.footer-links a:last-child {
  margin-right: 0;
}
.footer-icons {
  margin-top: .5em;
}


/* Block */

.block > h2 {
  text-transform: uppercase;
  color: #999;
  font-size: 1.4em;
  font-weight: normal;
}


/* Node */

.node .content h2 {
  padding: 1em 0 .5em;
  margin: 0 0 .5em;
  border-bottom: 1px solid #eeeeee;
  font-weight: bold;
  color: #5a5a5a;
}


/* Taxonomy terms */

.field-type-taxonomy-term-reference {
  margin: 2em 0 2em 0;
}
.field-type-taxonomy-term-reference .field-items * {
  display: inline;
}
.field-type-taxonomy-term-reference a.badge {
  background: #08c;
  border: 1px solid #08c;
  margin: 0 0 .4em .4em;
  font-weight: normal;
}
.field-type-taxonomy-term-reference a.badge:not(:hover) {
  background: snow;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  color: grey;
  text-shadow: none;
}
