.zone {
  border-bottom: 1px solid #e5e5e5;
}
#header {
  background-color: whitesmoke;
}
#header > .container > .inner {
  padding: 2.5em 0;
}
#header h1 {
  font-size: 4em;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;  
  margin-bottom: .2em;
}
#header .carousel {
  margin-bottom: 0;
}
#header .carousel-control {
  color: #333;
}
#header .carousel-control.left {
  left: 0;
}
#header .carousel-control.right {
  right: 0;
}
#highlighted {
  background: #d9edf7;
  border-color: #bce8f1;
}
#highlighted > .container > .inner {
  color: #3a87ad;
  padding: 1.5em 0;
}
#preface {
  background-color: whitesmoke;
  padding-top: 1.5em;
}
#main > .container > .inner {
  padding: 1em 0;
}
#main .block {
  margin-bottom: 2em;
}
#main .block:last-child {
  margin-bottom: 0;
}
#sidebar-first > .region {
  padding-right: 1em;
}
#sidebar-second > .region {
  padding-left: 1em;
}
.sidebar input.form-text {
  width: 70%;
}
#footer {
  background-color: whitesmoke;
  border-bottom: 0;
}
#footer > .container > .inner {
  padding: 2em 0;
}
.footer-links {
  margin-top: .5em;
}
.footer-links a {
  margin-right: 1.5em;
}
.footer-links a:last-child {
  margin-right: 0;
}
.block > h2 {
  text-transform: uppercase;
  color: #999;
  font-size: 1.4em;
  font-weight: normal;
}


/* Tags */

.field-tags {
  margin: 2em 0 2em 0;
}
.field-tags a.badge {
  background: #08c;
  border: 1px solid #08c;
  margin-bottom: .4em;
}
.field-tags a.badge:not(:hover) {
  background: snow;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  color: grey;
  text-shadow: none;
}
