#featured {
  background-color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
}
#carousel {
  height: 250px;
  margin-bottom: 0;
}
#carousel .item {
  height: 200px;
  padding: 50px 10% 0 10%;
  text-align: center;
  width: 80%;
}
#carousel .carousel-control {
  background-color: transparent;
  border: 0;
  color: #333;
  font-size: 100px;
  line-height: 100px;
  top: 50%;
  height: 100px;
  margin-top: -50px;
}
#header {
  background-color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
}
#main {
  padding: 30px 0;
}
#main .block {
  margin-bottom: 30px;
}
#sidebar-first > .region {
  padding-right: 10px;
}
#sidebar-second > .region {
  padding-left: 10px;
}
.sidebar input.form-text {
  width: 70%;
}
#footer {
  background-color: whitesmoke;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer-links a {
  margin-left: 15px;
}
@media (max-width: 979px) {
  #sidebar-first > .region {
    padding-right: 0;
  }
  #sidebar-second > .region {
    padding-left: 0;
  }
}
